
.all{
	width: 1000px;
	height: auto;
	font-family: Helvetica;
	font-size: 1em;
	margin: auto;
}
.header{
	font-size: 2em;
	text-align: center;
}
.khung{
	cursor: pointer;
	padding: 4px;
	transition: all 0.5s ease;
}
.khung:hover{
	transform: translate(5px, -5px);
	box-shadow: 5px 5px 5px 0px rbga(0,0,0,0.5);
}
.khung img{
	margin-left: 320px;
	margin-top: 150px;
	vertical-align: middle;
	opacity: 0.25;
	transition: opacity 1s linear;
}
.khung img:hover{
	opacity: 1;
}
@keyframes title {
	0%{color: #F9E559;}
	25%{color:  #FFFFFF;}
	50%{color: #f03397;}
	75%{color: #3c6bf5;}
}
h1 {
	animation: title 5s ease infinite;
}
body { background-color:#333; }
/*Hiệu ứng tuyết rơi*/
.snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	
/*Hiệu ứng di chuyển*/
p{	margin-left: 880px;
	width: 500px;
	position: relative;
    animation-timing-function: ease-in;
    -moz-animation: myAnimation 5s ease-out infinite;
    -webkit-animation: myAnimation 5s ease-out infinite;
    -o-animation: myAnimation 5s ease-out infinite;
}

@keyframes myAnimation {
    from {right: : 0px;}
    to {right: : 200px;}
}

/* Hien thi cho Firefox */
@-moz-keyframes myAnimation {
    from {right: 0px;}
    to {right: 200px;}
}

/* Hien thi cho Safari and Chrome */
@-webkit-keyframes myAnimation {
    from {right: 0px;}
    to {right:  200px;}
}

/* Hien thi cho Opera */
@-o-keyframes myAnimation {
    from {right:  0px;}
    to {right:  200px;}
}}